


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 132px ;
    background-color:transparent; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background: var(--bg-color);
    
}
.header.sticky {
    background: var(--bg-color);

}


.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar{
    position: relative;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}


.navbar a:hover
,.navbar a.active{
    color: var(--main-color);
}


#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


section{
    min-height: 100vh;
    padding: 100px 132px 20px;
}

.home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0 132px;
    /* background: url(../assets/video_image-tGxQe3iOM.jpeg) no-repeat;
    background-size: contain;
    background-position: right;
    background-size: 80%; */

    
}
/* 
.home::after{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: var(--bg-color);
    opacity: .6;

} */

.home-content{
    
    max-width: 600px;
    z-index: 99;

}

.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    color: var(--text-color);
}

.home-content .text-animate{
    position: relative;
    width: 328px;
} 

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -330px 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 20px 0 40px;
}


.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.btn-box .btn{

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}


.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
    
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    transition: .5s;
    z-index: -1;

}
.btn-box .btn:hover::before{
    width: 100%;

}


.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100% ;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    background: antiquewhite;
    position: absolute;
    top: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
}
.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

/* ************************************ End home section  **************************** */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    background-color: var(--second-bg-color);
    padding-bottom: 6px;

}

.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 30px;
    text-align: center;
}

span {
    color: var(--main-color);
}
.about-img{
    position: relative;
    /* width: 25rem;
    height: 25rem; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.about-img img{
    width: 90%;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0); 
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 2px solid var(--second-bg-color);
    border-bottom: 2px solid var(--second-bg-color);
    border-right: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}


.about-content{
    text-align: center;

}

.about-content h3{
    font-size: 2.6rem;
   

}

.about-content p{
    
    font-size: 1.6rem;
    margin: 20px auto 30px;
    text-align: justify;
    width: 100%;
}


.btn-box.btns{
    display: inline-block;
    width: 150px;
}

.btn-box.btns a::before{
    background: var(--second-bg-color);

}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 50px;

}


.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.education-row .education-column{
    flex: 1 1 400px;
}

.education-column .title{
    font-size: 2.5rem;
    margin:  0 0 15px 20px;
}


.education-column .education-box{
    border-left: 2px solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 20px;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 1;
}

.education-content .content{
    position: relative;
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 200px;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;

}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 5px;

}

.education-content .content .year i{
    padding-right:  5px;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p{
    font-size: 1.6rem;
    padding-top: 5px;
}


/* *********************************** end of education section ********************************* */

.skills{
    min-height: auto;
    padding-bottom: 70px;
    background: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.skills-row .skills-column{
    flex: 1 1 400px;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 15px;
}


.skills-box .skills-content{
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    padding: 5px 15px;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;

}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 10px 0 ;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;

}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 25px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    padding: 5px;
    margin: 10px 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 3px;
    background: var(--main-color);
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 65%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 67%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}
 
 /* ********************************** end of skilss section ********************************* */

 .contact{
    min-height: auto;
    padding-bottom: 70px;

 }

 .contact form{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

 }


 .contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

 }

 .contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: 8px 0;

 }

 .contact form .input-box .input-field input,
 .contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 6px;
    border: 2px solid var(--main-color);

 }


 .contact form .input-box .input-field input::placeholder,
 .contact form .textarea-field textarea::placeholder{
    color: var(--text-color);

 }
 .contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: 6px;
    z-index: -1;
    transition: .5s;

 }

 .contact form .input-box .input-field input:focus~.focus,
 .contact form .input-box .input-field input:valid~.focus,
 .contact form .textarea-field textarea:focus~.focus,
 .contact form .textarea-field textarea:valid~.focus{
 
   width:100%;



 }

 .contact form .textarea-field {
    position: relative;
    margin: 8px 0 27px;
    display: flex;
 

 }


 .contact form .textarea-field textarea{
    resize: none;
 }

 .contact form .btn-box.btns .btn{
    cursor: pointer;


 }


 /* ******************************* Ennd of contact section *************************** */

 .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 132px;
    background-color: var(--second-bg-color);

 }

 .footer-text p{
    font-size: 1.6rem;

 }


 .footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;


 }


 .footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

 }

 .footer-iconTop a:hover::before{
    width: 100%;

 }

 .footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;

 }

 .footer-iconTop a:hover i{
    color: var(--main-color);

 }

 


 /* ************************************* End footer section ***************************************** */


 /* ANIMATION RELOAD AND SCROLL */
 .animate{

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
 }

 .animate.home-img{
    width: 50%;
 }

 .logo .animate,
 .navbar .animate,
 #menu-icon .animate,
 .home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
 }

 .animate.scroll{
    transition: 1s ease;
    transition-delay:calc(.3s / var(--i)) ;
    animation: none;
 }

 .about.show-animate .animate.scroll{
    transition-delay:calc(.3s * var(--i)) ;
    width: 0;

 }
 /* BREAKPOINTS */


 @media(max-width:1200px){
    /* html{
        font-size: 55%;
    } */
    
 }


  @media(max-width:991px){
    .header{
        padding: 20px 36px;
    }

    section{
        padding: 100px 36px 20px;
    }

    .home{
        padding: 0 40px;


    }

    .footer{
        padding: 20px 40px;
    }
  }

  @media(max-width:768px){
    /* .header{
        background: var(--bg-color);
    } */

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top:100%;
        left: -100%;
        width: 100%;
        padding: 10px 30px;
        background: var(--main-color);
        box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top:0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 1px solid rgba(0, 0, 0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;

    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 30px 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay:0s;

    }

   .navbar.active a{
    transform: translateX(0);
    transition-delay: .25s;

   }
   .home-imgHover{
    pointer-events: none;
    background:  var(--bg-color)  ;
    opacity: .6;
   }
   
  }



  @media(max-width:520px){
    html{

        font-size: 50%;
    }

    .home-content h1{
       
            display: flex;
            flex-direction: column;


        
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }
  }


  @media(max-width:462px){
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding: 100px 18px 50px 23px;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        margin-top: 20px;
        text-align: center;
    }
  }


  @media(max-width:371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;

    }

  }


  /* KEY FRAME ANIMATION */

  @keyframes homeBgText{
    0%,10%,100%{
        background-position: -330px 0;

    }
    65%,85%{
        background-position: 0 0;
        
    }
  }


  @keyframes homeCursorText{
    0%,10%,100%{
       width: 0;

    }
    65%,78%,85%{
        width: 100%;
        opacity: 1;
        
    }

    75%,
    81%{
        opacity: 0;
    }
  }

  @keyframes aboutSpinner{
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
  }

  @keyframes showRight{
    100%{
        width: 0;
    }
  }